@import '../../../style/abstracts/_mixins';
.auth__data {
  box-sizing: border-box;
  width: 80%;
  height: auto;
  text-align: center;
  box-shadow: 0 2px 3px #ccc;
  border: 1px solid #eee;
  padding: 0.625rem;
  @include center-position(50%);
  @include respmi(600) {
    width: 25rem;
  }
  &-title {
    margin-bottom: 1.25rem;
  }
  &-form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
